body {
    overflow: hidden;
    font-family: arial;
}

.center {
    position: absolute;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
}

input[type="text"] {
    border-radius: 20px 20px 20px 20px;
    border: 1px solid rgba(0, 0, 0, .2);
}

input[type="text"]:hover {
    box-shadow: 0px 2px 2px 0px;
    color: grey;
}

input[type="submit"] {
    background: transparent;
    border-color: white;
    border-style: solid;
    color:rgb(68, 68, 68);
    height: 35px;
}

input[type="submit"]:hover {
    border-radius: 10px;
    border-color: rgb(180, 180, 180);
}

form {
    text-align: center;
}


#adv {
    border-style: hidden;
    border-radius: 6px;
    background-color: #4d90fe;
    color: white;
    height: 35px;
}

input {
    font-size: large;
}

#input {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(Google_Magnifying_Glass.svg.png) no-repeat 8px 12px;
    background-size: 20px;
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: small;
    margin: 5px;
}

a:hover {
    text-decoration: underline;
}

thead th:nth-child(1),tr td:nth-child(1){
    text-align: left;
}

thead th:nth-child(2),tr td:nth-child(2){
    text-align: center;
}

thead th:nth-child(3),tr td:nth-child(3){
    text-align: left;
    font-size: small;
    color: grey
}

table input[type="text"] {
    border-radius: 0px;
}