.center {
    position: absolute;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

input[type="text"] {
    border-radius: 15px 15px 15px 15px;
}

form {
    text-align: center;
}

li {
    padding: 10px;
}

#adv {
    background-color: blue;
    color: white;
}

ul {
    list-style: none;
    padding: 0px;
    text-align: left;
}

li, input {
    font-size: x-large;
}